<div style="background-color: #ecf5f780">
  <mat-card>
    <mat-card-header> </mat-card-header>
    <div mat-card-image>
      <img class="matcardimage" src="assets/cover.jpg" />
    </div>
    <mat-card-content> </mat-card-content>
    <mat-card-actions>
      <div class="col-md-12" style="display: flex">
        <div class="col-md-2">
          <img
            src="assets/male-04.jpg"
            alt="Card cover image"
            class="image"
            style="height: 8rem; width: 8rem; border-radius: 9999px"
          />
        </div>
        <div class="col-md-2">
          <span style="font-weight: 700">Brian Hughes</span><br />
          <span>London, UK</span>
        </div>
        <div class="col-md-2">
          <span style="font-weight: 700">200K</span><br />
          <span>FOLLOWERS</span>
        </div>

        <div class="col-md-2">
          <span style="font-weight: 700">1.2K</span><br />
          <span>FOLLOWING</span>
        </div>
        <div class="end-md col-md-4">
          <!-- <div class="col-md-2"></div> -->
          <a
            class="col-md-1 font-medium"
            style="color: inherit"
            href=""
            style="font-weight: 700"
          >
            Home
          </a>
          <a class="col-md-1 text-secondary" style="color: inherit" href="">
            About
          </a>
          <a class="col-md-1 text-secondary" style="color: inherit" href="e">
            Followers
          </a>
          <a class="col-md-1 text-secondary" style="color: inherit" href="">
            Gallery
          </a>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>

  <div style="margin-top: 20px; display: flex">
    <mat-card style="width: 25%; margin-left: 3%; border-radius: 1rem">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>About Me</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          " I’m a friendly kitchen assistant who suffers from a severe phobia of
          buttons."
          <br />
          <br />
          "Brother of Elijah Jay Watkins, who has phobia of buttons and trust
          issues."
        </div>
        <br />
        <div
          style="border: 1px solid rgb(181, 184, 184); margin-bottom: 10px"
        ></div>
        <p><img src="assets\place_black_24dp.svg" />&nbsp;London, UK</p>
        <p>
          <img src="assets\card_travel_black_24dp.svg" />&nbsp;ACME Corp. Lead
          UX Designer
        </p>
        <p><img src="assets\cake_black_24dp.svg" />&nbsp;April, 24</p>
      </mat-card-content>
      <mat-card-actions>
        <button class="matbutton" mat-raised-button color="primary">
          See complete bio
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card style="width: 50%; margin-left: 5%; border-radius: 1rem">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Create Post</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img
          src="assets/male-04.jpg"
          alt="Card cover image"
          class="createimage"
        />
        <mat-form-field
          class="
            mat-form-field
            fuse-mat-textarea fuse-mat-no-subscript
            w-full
            ng-tns-c33-582
            mat-primary
            mat-form-field-type-mat-input
            mat-form-field-appearance-fill
            mat-form-field-can-float
            ng-star-inserted
          "
          ><div class="mat-form-field-wrapper ng-tns-c33-582">
            <div class="mat-form-field-flex ng-tns-c33-582">
              <!----><!---->
              <div class="mat-form-field-infix ng-tns-c33-582">
                <textarea
                  rows="3"
                  matinput=""
                  mattextareaautosize=""
                  class="
                    mat-input-element mat-form-field-autofill-control
                    cdk-textarea-autosize
                    mat-autosize
                    ng-tns-c33-582
                    cdk-text-field-autofill-monitored
                  "
                  placeholder="What's on your mind?"
                  id="mat-input-174"
                  data-placeholder="What's on your mind?"
                  aria-invalid="false"
                  aria-required="false"
                  style="height: 52px"
                ></textarea
                ><span class="mat-form-field-label-wrapper ng-tns-c33-582"
                  ><!----></span
                >
              </div>
              <!---->
            </div>
            <div
              class="mat-form-field-underline ng-tns-c33-582 ng-star-inserted"
            >
              <span class="mat-form-field-ripple ng-tns-c33-582"></span>
            </div>
            <!---->
            <div class="mat-form-field-subscript-wrapper ng-tns-c33-582">
              <!---->
              <div
                class="
                  mat-form-field-hint-wrapper
                  ng-tns-c33-582
                  ng-trigger
                  ng-trigger-transitionMessages
                  ng-star-inserted
                "
                style="opacity: 1; transform: translateY(0%)"
              >
                <!---->
                <div class="mat-form-field-hint-spacer ng-tns-c33-582"></div>
              </div>
              <!---->
            </div>
          </div></mat-form-field
        >
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-button=""
          class="mat-focus-indicator px-3 mr-1 mat-button mat-button-base"
          tabindex="0"
        >
          <span class="mat-button-wrapper">
            <!-- <mat-icon role="img" class="mat-icon notranslate icon-size-5 mr-2 mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="photograph" data-mat-icon-namespace="heroicons_solid">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
              <path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd"></path>
          </svg>
      </mat-icon> -->
            <img src="assets\image_black_24dp.svg" />
            <span>Photo / Video</span>
          </span>
        </button>

        <button
          mat-button=""
          class="mat-focus-indicator px-3 mr-1 mat-button mat-button-base"
          tabindex="0"
        >
          <span class="mat-button-wrapper">
            <img src="assets\account_circle_black_24dp.svg" />
            <span>Tag Friends</span>
          </span>
        </button>
        <button
          mat-button=""
          class="mat-focus-indicator px-3 mr-1 mat-button mat-button-base"
          tabindex="0"
        >
          <span class="mat-button-wrapper">
            <img src="assets\sentiment_satisfied_black_24dp.svg" />
            <span>Feeling</span>
          </span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
